

.video-catering{
    background-color: black;
    padding: 50px 33px;
    
    
}

.video-catering div{
    width: 80%;
    margin: 0 auto;
}

.section1-catering{
    text-align: center;
    padding: 30px 15px;
    
}

.section-hosting{
    padding-top: 6%;
}

.section-contact, .section-service{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 700px;
}

.section-service{
    max-width: 100%
}

.num-whatsapp{
    flex: 1;  
}

.or{
    flex: 1;
}

.num-tel{
    flex: 1;
}

.num-whatsapp .menu-link,.num-tel .menu-link{
    color: black;
    text-decoration: none;
    display: block;
    font-size: 20px;
}

.section-contact.menu-link:hover{
    border-color: none;
    vertical-align: none;
}

.section2-catering{
    padding-top: 100px;
    text-align: center;
}

.section-welcome h1{
    margin-bottom: 20px;
}

.section-welcome p{
    margin-bottom: 22px;
}

.quick, .hygiene, .great, .healthy{
    flex: 1;
    text-align: center;
    padding:0px 15px 30px;
}

.section-service h3{
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-service p , .section3-catering p{
    margin-bottom: 22px;

}

.section3-catering{
    text-align: center;
    background-color: #EEF0EF;
    width: 100%;
    height: 686.19px;
    padding: 40px 0px;  
}

.section3-h1 h1, .section4-catering h1{
    margin-bottom: 20px;
    padding:0px 15px 30px;
    
}
.catering-live, .catering-counter{
    flex: 1;
    display: flex;
    padding: 0 15px 30px;
}

.section3-catering h3{
    margin: 20px 0 10px;
}

.base, .choice{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px 30px;
}

.signature, .toppings{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px 30px;
}

.section3-catering h4{
    font-size: 24px;
    }
    
    .section4-catering{
        width: 100%;
        text-align: center;
        padding: 5% 15px 30px;
    }
    
    .section4-catering h4{
        margin: 0 0 12px;
        padding: 0 15px 30px;
    }

    .section4-catering h5{
        font-size: 24px;
        margin: 0 0 12px;
        padding: 0 15px 15px;
    }
    
    .section4-catering li{
        font-size: 16px ;
        margin: 0 0 20.8px;
        list-style-type: none;
    
    
    }
    
    .section4-catering span{
        
        font-size: 16px;
    }
    
    .section4-detail{
        display: flex;
        flex-direction: column;
        padding: 0 50px 30px;
    }
    
    .section4-p p{
        padding: 0px 15px 30px;
        font-size: 16px;
    }
    
    .section4-catering .section-contact{
            padding: 0 15px 30px;
            
        
    }

    .section4-catering .section-hosting{
        padding-top: 0;
    }
    
    .section-hosting{
        margin: 0 0 20px;
    }
    
    
    .minimalist ul , .standard ul, .premium ul, .gourmet ul, .dry-kit ul{
        text-align: left;
        list-style-type: none;
        max-width: 500px;
        margin: 0 auto;  
        font-size: 17px; 
    }

    .minimalist li:first-child{
        margin-bottom: 1.8em;
    }
    
    .section4-1{
        flex: 1;
        display: flex;
        align-items: center;
        padding-top: 5% ;
        
    }
    
    .section4-write{
        flex: 1;
    }
    
    .section4-img{
        flex: 1; 
    }
  

    .dot-container{
        text-align: center;
        padding: 20px;
        
    }

    /*Button example*/
    /*#btn{
        background: green;
        text-align: center;
        border: green;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        margin: 40px 40px;
    }*/



    html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 300px;
      }

      

      .swiper-slide, .carousel-slide {
        display: flex;
        justify-content: calc(10px + 100px);
        flex-direction: column;
        text-align: center;
        font-size: 22px;
        background: #fff;
        padding: 0px 70px;
        font-family: 'Kalam', cursive;
        

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      /*Slides chevron*/
.fa-solid{
    font-size: 50px;  
}

.container_chevrons{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 80px;
}

.prev-btn{
    cursor: pointer;
    border-radius: 50%;
    border: 1px rgba(65, 67, 68, 0.603) solid;
    position: absolute;
    left: 20px;
    bottom: 60px;

}

.next-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 60px;
    border-radius: 50%;
    border: 1px rgba(65, 67, 68, 0.603) solid;
}

.container_slides{
    margin-top: 70px;
}







    